/*********formatação comun*/
#quem-somos h2
{
    color: rgb( 3, 68 , 254 );
}

body
{
    background-image: url( ../img/background.png);
}

body p
{
    text-indent: 20px;
}

nav
{
    
    position:relative;
    left:5%;
    
    width:90%;
    height:70px;
    
    border-bottom:2px solid black;

}

nav a
{
    
    padding: 10px;
    
    background-color: rgb( 3, 68 , 254 );
   
    border-radius:5px;
   
    font-size:150%;
    color: white;
    text-transform:uppercase;
    text-decoration:none;

    transition:1s;
    
}

nav a:hover
{
    background-color: rgb( 128 , 128 , 255 );
    
    color:black;
    
}

nav ul 
{
    height:100%;
    width:100%;
}

nav li
{
    position:relative;
    top:20px;
    left: -40px;
    
    display: inline-block;
    list-style: none;
    
    
    
}

nav li p
{
    text-indent:0;
}

#area-principal
{
    
    position:relative;
    left:5%;
    
    width:90%;
    
    background-color: #ddd;
    
    padding:4px;
    margin-top:40px;
    
}

#area-principal h2, h3
{
    color: rgb( 3, 68 , 254 );
}

#area-principal p
{
    padding-left: 10px;
    padding-right: 10px;
    
}

#area-principal li
{
    list-style: circle;
    margin-top:4px;
    font-size:25px;
}

#galeria
{
    
    position:relative;
    left:0.5%;
    width:99%;
    height:600px;

}

#galeria img
{
    width:100%;
    height:80%;
}

h2
{
    padding: 0 20px;
    font-size:50px;
}

h3
{
    padding: 0 20px;
    font-size:40px;
}

.logo
{
    
    position:relative;
    left:5%;
    
    width:90%;
    height:100px;
    
    background-color: rgb( 3, 68 , 254 );
    border-radius:4px;

}

.logo img
{
    width:80px;
    height:100px;
    float:left;
    margin-right:10px;
}
.logo h2
{
    
    padding-top:10px;
    
    color:white;
    font-size:50px;
    margin-top:0;
    
}


footer
{
    position:relative;
    left:5%;
    top:10px;

    width:90%;
    height:60px;
    
    border-top: 2px solid black;
    margin-top: 20px;
    
    font-weight:bold;
  
}

footer p 
{
    float:left;
}

footer p
{
    text-indent:0;
    margin-right:20px;
 
}

footer img
{
    float:left;
}

.credenciais
{
    float:left;
    margin-right:10px;

}

/************************/

@media ( min-width:1280px )
{
    
#area-principal
{
    font-size:40px;
}


footer img
{
    margin-top:10px;
}

}

/************************/

@media( min-width:1024px ) and ( max-width: 1279px )
{

.logo h2
{
    font-size:48px;
}

#area-principal
{
    font-size:30px;
}
#galeria
{
    height:500px;
}

footer img
{
    margin-top:10px;
}

}

@media ( max-width: 1023px )
{

#area-principal
{
    font-size:30px;
}

nav a
{
    font-size:20px;
}

.logo h2
{
    
    padding-top:30px;
    padding-right:10px;
    
    color:white;
    font-size:34px;
    
    margin-top:0;
    
}

#galeria
{
 
    height:400px;
    
}

footer
{
    font-size:14px;
}


}

@media ( max-width:800px )
{

    .logo
{
    width:0;
    height:40px;
}

.logo img
{
    width:40px;
    height:40px;
}

.logo h2
{
    display:none;
}

h2
{
    font-size:40px;
}
h3
{
    font-size:30px;
}

nav
{

    left:0;
    
    margin-top:20px;
    width:100%;
    height:150px;
    

}    

nav li
{
    display:block;
    margin-bottom:10px;
    
}
nav a
{
    padding: 0px;
    font-size:18px;
    text-decoration:underline;
    background-color:transparent;
    color:black;
}

nav a:hover
{
    background-color:transparent;
}

#area-principal
{
    
    left:0;
    
    width:100%;
    
    font-size:25px;
}

#area-principal > h2
{
    margin:0;
    margin-bottom:30px;
}


footer
{
    width:100%;
    left:0;
    
}

footer p
{
    float:none;
}

.credenciais
{
    float:none;
}

}